<html lang="es">
<%- include ('./partials/head.ejs') %>

    <body>
        <%- include ('./partials/navegar.ejs') %>

            <div class="error-container">
                <h1 class="error-title">Error: <%= title %>
                </h1>
                <p class="error-message">
                    <%= message %>
                </p>
                <p class="redirect-message">Redirigiendo a la página principal...</p>
                <a href="/" class="go-home-button">Volver al inicio</a>
            </div>

            <script>
                setTimeout(() => {
                    window.location.href = '/'
                }, 3000);
            </script>

            <%- include ('./partials/footer.ejs') %>
    </body>

</html>